<h1>Test Rovers</h1><%= @text %>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <% @errors&.each do |error| %>
    <h3><%= error %></h3>
  <% end %>

  <tbody>
    <% @rovers&.each do |test_rover| %>
      <tr>
        <td><%= test_rover.is_a?(Array) ? test_rover : test_rover[:x] %></td>
        <td><%= test_rover.is_a?(Array) ? test_rover : test_rover[:y] %></td>
        <td><%= test_rover.is_a?(Array) ? test_rover : test_rover[:direction] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'voltar', rover_path %>
